@model Proiect_An.Models.Room
@{
    ViewData["Title"] = "Delete";
}
<h3>Delete this item?</h3>

<p>@Model.Type</p>
<p>@Model.PricePerNight</p>
<p>@Model.BedType</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id"/>
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>