@model Proiect_An.Models.Room;

@{
    ViewData["Title"] = "Edit";
}

<div class="card custom-card shadow-sm rounded-3 mt-4 p-4">
    <div class="card-header custom-header">
        <h3>Edit Room</h3>
    </div>

    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Type" class="form-label">Room Type</label>
                <input asp-for="Type" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="PricePerNight" class="form-label">Price per Night</label>
                <input asp-for="PricePerNight" class="form-control" type="number" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="BedType" class="form-label">Bed Type</label>
                <input asp-for="BedType" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-neutral ms-2">Cancel</a>
        </form>
    </div>
</div>